.canvas {
  grid-area: Canvas;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-bg-color);
}

.canvasArea {
  width: 450px;
  height: 600px;
  background-color: #f5f5f5;
  margin: 0;
}
