body {
  --primary-bg-color: #191819;
  --secondary-bg-color: #474747;
  --primary-btn-color: #232223;
  --secondary-btn-color: #2d2b2d;
}

* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 5% 55% 40%;
  grid-template-rows: 7% 93%;
  gap: 0px 0px;
  grid-template-areas:
    "Header Header Header"
    "ToolsBar Canvas Viewer";
  text-align: center;
}

.toolsBar {
  grid-area: ToolsBar;
  height: 100%;
  color: #fff;
  background-color: var(--primary-bg-color);
}

/* If you want the content centered horizontally and vertically */
/* .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
} */

/* Style the image inside the centered container, if needed */
/* .centered img {
  width: 150px;
  border-radius: 50%;
} */
